.cart-container {
    width: 100vw;
    min-height: 60vh;
    color: #fff;
    display: flex;
    flex-direction: column;


}

.btn-seguir-comprando {
    color: #fff;
    background-color: #00563B;
    border:1px solid #fff;
    border-radius: 0.5em;

    width: auto;
    height: 30px;
    font-size: 1.3rem;

    text-align: center;
    font-family: 'Bebas Neue', cursive;

    margin: 1em;

        &:hover {
            cursor: pointer;
        }
}

.cart-tittle {
    display: flex;
    justify-content: center;

        h3 {
            font-size: 3rem;
        }
}

.precio-vaciar-visible {


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    opacity: 1;
    visibility: visible;
    margin-top: 10vh;

        button {
            color: #fff;
            background-color: #00563B;
            border:1px solid #fff;
            border-radius: 0.5em;

            width: 200px;
            height: 30px;
            font-size: 1.3rem;

            text-align: center;
            font-family: 'Bebas Neue', cursive;

            margin: 1em;

                &:hover {
                    cursor: pointer;
        }
        }
        span {
            font-size: 1.3rem;
            text-align: center;
            align-self: center;
        }

}

.precio-vaciar-oculto {

    opacity: 0;
    visibility:hidden;

}

.precio-cantidad-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-content: center;
}

.cart-vacio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 25vh;

    width: 100%;
}

@media (max-width: 768px) {

    .cart-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}