.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
      img{
        width: 120px;
        
      }
    }


@keyframes infiniteloop {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
}

.logo {
  animation: infiniteloop 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

    &:hover {
      cursor: pointer;
    }
  
}