@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    margin: 0;
    box-sizing: border-box;
    background-color: #26180c;

  }

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
    
    
  background-color: #00563B;
  color: #fff;
  }
  
.header-container{
  h1 {
    font-size: 2.5rem;
    color: #fff;
    font-family:'Alumni Sans Pinstripe', sans-serif;
    letter-spacing: 0.3em;
  }
}
    
  
.nav-links {
  display: flex;
  justify-content: space-around;
  min-width: 30%;
  text-align: center;
  align-items: center;  
}



.nav-links{
  a {
    text-decoration: none;
    color: #fff;
  
    font-family: 'Bebas Neue', cursive;
    font-size:1.5rem ;
  }
} 

.nav-links a:hover {
  color: #26180c;
  border-bottom:2px solid #26180c;
}

.tittle-container {
  margin-left: 20%;
 }

.tittle-container:hover {
  strong {
    color: #26180c;
  }
}
