@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap');

body {
    margin: 0;
    box-sizing: border-box;
    background-color:  #26180c ;

  }

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 10vh;
  padding: 0px 1em 0px 0px;
    
    
  background-color: #00563B;
  color: #fff;

  }
  
.header-container{
  h1 {
    font-size: 3rem;
    color: #fff;
    font-family: 'Walter Turncoat', cursive;
    letter-spacing: 0.3em;
    
  }
}
    
  
.nav-links {
  display: flex;
  justify-content: space-around;
  min-width: 30%;
  text-align: center;
  align-items: center;  
}



.nav-links{
  a {
    text-decoration: none;
    color: #fff;
  
    font-family: 'Bebas Neue', cursive;
    font-size:1.5rem ;
  }
} 

.nav-links a:hover {
  color: #26180c;
  border-bottom:2px solid #26180c;
  transition: 0.2s;
}

.tittle-container {
  display: flex;
  justify-content: space-between;
  

    strong {
      color: #26180c;
    }
 }

.tittle-container:hover {
   h1{
     color: #26180c; 
     transition: all ease-in-out 0.2s;
   } 

  strong {
    color: #fff;
    transition: all ease-in-out 0.2s;
  }
}

.logo-container {
display: flex;
justify-content: center;
align-items: center;

  img{
    width: 120px;
    
  }
}