.productos-container {
    h2 {
        text-align: center;
        color: #26180c;
    }
}

.productos-tittle {
    color: #fff;
    font-size: 2rem;
    font-family: 'Bebas Neue', cursive;
}

.productos {

    display: flex;
    justify-content: center;
    flex-direction: row;

    width: 100vw;
    margin-bottom: 10vw;
    
    
    
    
    

}
