.productos-container {
    margin: 0;
    h2 {
        text-align: center;
        color: #fff;
    }
}

.productos-tittle {
    color: #fff;
    font-size: 2rem;
    font-family: 'Bebas Neue', cursive;
}

.productos {

   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: flex-start;
   

    width: 100vw;
   
    
    

}


